@import '../../data/styles/colors.scss';
@import '../../data/styles/styles.scss';

  
  .userMsg {
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: $user-msg-bg;
    color: $user-msg;
    clear: both;
    //messages in next line irrespective of width
    width: max-content;
    //messages dynamic according to size of content
  }
  