.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  .botlogo {
    width: 100px;
    border-radius: 120px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .BotWindow {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 117px;
    right: 70px;
    /* z-index: -1; */
    background-color: #4797af;
    /* border: 1px solid #0081a8; */
    border-radius: 20px;
    padding-top: 10px;
  }
  
  .closeIcon {
    color: #eef5f8;
    position: absolute;
    right: 10px;
  }
  
  .popUpMsg {
    margin-left: 20px;
    padding: 15px;
    width: 180px;
    border-radius: 15px;
    background-color: #eef5f8;
    color: #007fbf;
  }
  
  .popUpInput {
    margin: 0;
    padding: 15px;
    width: 270px;
    /* width: inherit; */
    /* border-radius: 5px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #eef5f8;
    color: #007fbf;
    /* border: 1px solid #007fbf ; */
    border: 0;
    position: absolute;
    bottom: 0;
  }
  
  
  